<div class="container">
  <div class ="row center-block">
    <div class="col-xs-12">
      <h2>Merkdoo TEST</h2>
      <hr>

      <label class="text-danger">* Campos obligatorios</label>
      <!--formulario incluyendo nombre, descripción y SKU -->
        <p>
          <label><b>Nombre<label class="text-danger">*</label></b></label>
          <input type="text" class="form-control" [(ngModel)]="productName" required>
        </p>

        <p>
          <label><b>Descripción<label class="text-danger">*</label> </b></label>
          <textarea type="text" class="form-control" [(ngModel)]="productDesc" required></textarea>
        </p>

        <p>
          <label><b>SKU<label class="text-danger">*</label> </b></label>
          <input type="text" class="form-control" [(ngModel)]="productSku" required>
        </p>

        <button class="btn btn-primary" (click)="addProduct()">Agregar</button>
        <!--click en el botón activa la función de agregar -->

        <p class="text-danger"><b>{{ errorText }}</b></p>
        <!--espacio reservado para imprimir en caso de error -->
        <br>

        <!--Tabla que muestra el listado -->
        <table class="table table-striped table-hover table-condensed">

          <thead>
            <tr class="header">
            <th style="width:10%;">Nombre</th>
            <th style="width:20%;">Descripción</th>
            <th style="width:10%;">SKU</th>
            <th style="width:2%;"></th>
          </tr>
          </thead>

          <tbody>
            <tr *ngFor="let product of products; let i = index"> <!-- repite por cada producto en el array -->
              <td>
                {{ products[i][0] }}
              </td>
              <td>
                {{ products[i][1] }}
              </td>
              <td>
                {{ products[i][2] }}
              </td>
              <td>
                <button class="btn btn-danger"  type="button" (click)="deleteRow(i)">Borrar</button>
              </td>
            </tr>
          </tbody>

        </table>
    </div>
  </div>
</div>
